* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* MAIN CONTENT */
.main-content {
    height: calc(100vh - 80px);
    display: flex;
}

.menu {
    width: 200px;
    /* DEBUG */
    background-color: yellow;
}

main {
    width: calc(100% - 200px);
    overflow-y: auto;
    /* DEBUG */
    background-color: red;
}

.upgrade {
    height: 80px;
    /* DEBUG */
    background-color: green;
}






/* PLAYER */
.player {
    width: 100%;
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* .player div {
    height: 100%;
} */

.item-left,
.item-right {
    width: 25%;
}

/* parte sinistra player */
.item-left {
    display: flex;
    align-items: center;
}

.player .img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song {
    margin-right: 20px;
}

.song h5,
.like {
    font-size: 12px;
}

.song h6 {
    font-size: 8px;
}

.song h6,
.like {
    color: #878787;
}

.like .fa-heart {
    margin-right: 10px;
}






.item-center {
    width: 50%;
    /* DEBUG */
    height: 100%;
    background-color: aqua;
}


/* parte destra player */
.item-right {
    /* DEBUG */
    height: 100%;
    background-color: pink;
}